/*
 Theme Name:   Scrubworx
 Description:  Responsive Gallery Site
 Author:       Comit Developers
 Template:     Divi
 Version:      1.0.0
*/

/* Adjust headings as needed to suit design*/

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: bidi-override
}

BDO[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: bidi-override
}

*[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: embed
}

*[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: embed
}

@media print {
    h1 {
        page-break-before: always
    }

    h1, h2, h3,
    h4, h5, h6 {
        page-break-after: avoid
    }

    ul, ol, dl {
        page-break-before: avoid
    }
}

/* Add your css styles below this line */

.alt-logo {
    position: relative;
    top: 5px;
}

span.sales_message {
    text-transform: uppercase;
    color: orange;
    margin: 0 0 0 10px;
    font-size: smaller;
}

.single_product h2 {
    font-size: 2em;
    font-weight: 600;
}

.color_swatches {
    margin: 10px 0;
}

img.product_photo {
    /*max-height: 700px;*/
    width: 100%;
}

.single_product {
    background-color: #fff;
    float: left;
    display: inline-block;
    width: 33.3%;
}

span.pods-pagination-advanced {
    display: block;
    clear: left;
}

.single_product h2, .product_name, .description, .color_swatches, .illustrated {
    padding-left: 10px;
}

body {
    background-color: darkslateblue;
}

#et-secondary-menu .et-social-icons {
    margin-right: 0;
}

.et_pb_slide_description a.et_pb_more_button.et_pb_button {
    float: right;
    margin-right: 5%;
    position: absolute;
    top: 22px;
    right: 0;
    background: #221e73;
}

.et_pb_slide_description {
    background-color: rgba(40, 36, 118, 0.6);
    padding: 3% 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.et_pb_slide {
    padding: 0;
}

.et_pb_slide {
    min-height: 400px;
}

.et_pb_slider .et_pb_container {
    width: 100%;
    max-width: 100% !important;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.et_pb_slide_description p {
    font-size: 1.4em;
    font-weight: 500;
}

.et_pb_slide_content {
    float: left;
    margin-left: 5%;
    font-size: 1.8em;
}

.et-social-icon a {
    color: rgba(255, 255, 255, 0.55);;
}

#logo {
    max-height: 100%;
    padding: 1%;
    position: relative;
    top: -20px;
}

#sidebar .et_pb_widget .accessories_featured_single {
    width: 49%;
}

#sidebar .et_pb_widget .accessories_featured_single img {
    width: 90%;
    display: inline-block;
}

.accessories_featured_single {
    display: inline-block;

}

.accessories_featured_single img {
    width: 90%;
    margin: 0 0 0 1%;
    display: inline-block;
}

.accessories_alignment {
    text-align: right;
}

a.more-button {
    background-color: rgb(34, 30, 115);
    color: white;
    font-weight: 600;
    font-size: 1.3em;
    padding: 25px 15px;
    border-radius: 100%;
}

.accessories-home a.more-button:hover {
    background-color: rgb(198, 8, 82);
}

.accessories-home a.more-button {
    border-radius: 100%;
    display: inline-block;
    vertical-align: bottom;
    margin: 10px;
}

a.browse {
    font-size: 1.8em;
    text-transform: lowercase;
    font-weight: 700;
}

a.browse:hover {
    text-decoration: underline;
}

.browse-box a.browse {
    position: relative;
    bottom: 38px;
    margin-right: 10px;
    color: rgb(198, 6, 81);
}

#main-footer {
    background-color: #17154E;
}

#et-footer-nav {
    background-color: rgba(0, 0, 0, 0.32);
}

/* Search Field Hack - Relavanssi */

#et_top_search2.rel_search {
    float: right;
    position: relative;
    width: inherit;
    display: inline;
    margin: -2px 0 0 22px;
}

#et_top_search2.rel_search input#searchsubmit {
    font-family: 'ETmodules';
    padding: 2px;
    background-color: transparent;
    border: none;
    font-weight: 600;
}

#et_top_search2.rel_search input[type=text] {
    border: 0;
    background-color: transparent;
}

#et_top_search2.rel_search form#searchform {
    background-color: rgba(226, 226, 226, 0.73);
    padding: 3px;
    margin-top: -4px;
}

#et_top_search2 {
    margin: 0 35px 0 0;
    float: left;
}

.et_pb_pagebuilder_layout #main-content {
    background-color: white;
}

.search p.post-meta {
    display: none;
}

/* end */

.border-box {
    border: 10px solid rgb(199, 8, 83);
    border-left: 0px;
    border-right: 0px;
}

.product-title h1 {
    color: rgb(33, 30, 113);
    font-size: 3em;
}

.ft-products-box a.more-button {
    position: absolute;
    right: 24px;
    top: 454px;
    background-color: rgb(198, 6, 80);
}

.ft-products-box a.more-button:hover {
    background-color: rgb(34, 30, 115);
}

.brand-selection {
    border-top: 15px solid;
    border-image: url('/wp-content/uploads/sites/48/2015/07/dotted-top-border.png') 14 round;
    box-shadow: none;
    background-color: #3c179b;
    background-size: cover;
    background-repeat: repeat-y;
}

.brand-selection h3 {
    font-size: 1.7em;
}

.brand-selection a {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: #fff;
}

.brand-selection a:hover {
    text-decoration: underline;
}

.caps-tagline {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
}

@media (max-width: 1007px) {
    .et_pb_slide_description a.et_pb_more_button.et_pb_button {
        top: 6px;
    }
}

@media (max-width: 980px) {
    #page-container {
        padding-top: 23px;
        background-color: #fff;
    }

    .ft-products-box a.more-button {
        background-color: rgb(199, 10, 83);
        position: relative;
        bottom: -23px;
        top: 19px;
        left: 46%;
        right: 0;
    }
}

@media (max-width: 767px) {
    .accessories_featured_single {
        display: inline-block;
        width: 50%;
    }

    .accessories_featured_single:nth-child(3n+1) {
        display: none;
    }

    .et_pb_slide_content, {
        display: block;
        float: none;
    }

    .et_pb_bg_layout_dark .et_pb_slide_description {
        padding: 20px 0 40px 0;
    }

    .et_pb_slide_description a.et_pb_more_button.et_pb_button {
        float: none;
        margin-right: 5%;
        position: relative;
        top: 10px;
        right: -25px;
        background: #221e73;
    }

    .et_pb_slide_description .et_pb_slide_content {
        font-size: 2em !important;
        text-align: center;
        float: none;
    }

    .single_product {
        background-color: #fff;
        display: block;
        width: 100%;
        border: 10px solid #FFFFFF;
    }

    .brand-selection {
        background-size: 100% 100%;
    }
}

@media (max-width: 400px) {
    a.browse {
        font-size: 1.5em;
        text-transform: lowercase;
        font-weight: 700;
    }

    .browse-box a.browse {
        margin-right: 0;
    }
}